.tableListForm {
  :global {
    .ant-table-body {
      min-height: calc(~'100vh - 450px');
    }

    // .ant-form-item {
    //   margin-bottom: 24px;
    //   margin-right: 0;
    //   display: flex;
    //   align-items: center;
    //   > .ant-form-item-label {
    //     width: auto;
    //     padding-right: 8px;
    //   }
    // }
    // .ant-form-item-control-wrapper {
    //   flex: 1;
    // }

    .ant-form-item {
      margin-bottom: 4px;
    }
  }
  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
    margin-left: 140px;
  }

  .searchBtn {
    background-color: #4987e8;
  }
  
  .resetBtn {
    background-color: #62c086;
    margin-left: 8px;
    border-color: #62c086
  }
  
  .newBtn {
    background-color: #4987e8;
    margin-left: 8px;
  }
  
  .exportBtn {
    background-color: #4987e8;
    margin-left: 8px;
  }
}
.longText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  display: inline-block;
}
.PaginationLeft {
  padding: 20px;
  float: right;
}
.spanC {
  color: red;
}
.inputC {
  width: 86%;
}