
<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>海南邦临易家智慧社区管理系统</title>
  <link rel="icon" href="/cpzhsqweb/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_963489_g5vg512sf4k.css" type="text/css" />
</head>

<body>
  <div id="root"></div>
</body>

</html>