
<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>海南菜篮子管理系统</title>
  <link rel="icon" href="/clzweb/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1199414_htob6kpk9h.css" type="text/css" />
  <!-- <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.14&key=ba21ca58ff9385fea8a55f3539e46414"></script> -->
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<!-- <script src="//unpkg.com/vod-js-sdk-v6"></script> -->
</head>

<body>
  <div id="root"></div>
</body>

</html>